div(id='page-header')
  nav(class='navbar navbar-default navbar-fixed-top')
    div(class='col-md-3 hidden-md-down')
      img(class='logo', src='/images/logo.svg')

    div(class='col-md-6 hidden-md-down note')
      div(class = 'dropdown')
        button( class='btn btn-secondary dropdown-toggle' type="button" id='dropdownMenuButton' value="Country" data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Country 
        div( class ='dropdown-menu' aria-labelledby='dropdownMenuButton')
            a(class = 'dropdown-item' href='#' ) Country Name
